.cart-mainSection{
    display: flex;
    justify-content: center;
    padding: 15px;
    flex-direction: column;
    width: 100%;
    border: 1px solid black;
}

.cart-title{
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 50px;
}

.cart-content-items{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    border: 1px solid black;
    height: auto;
}
