.modal{
    display: flex;
    align-items: center;
    justify-content: center;
}

.open{
    background-color: red;
    border: 2px solid white;
    padding: 10px;
}

.tooltip-button{
    align-self: flex-end;
}

.tool-tip{
    display: flex;
    justify-content: end;
}